body {
    margin: 0;
    background-color: rgb(193, 188, 183);
    width: 100%;
    background: linear-gradient( orange, black);
    color: black;
}

header {
    padding-bottom: 20px;
    padding-top: 5px;
}

h1 {
    text-align: center;
    font-weight: bolder;
    text-decoration: underline 3px black;
    padding-top: 10px;
    transform: skewX(-15deg);
    animation: fadeIn 2s;
    -webkit-animation: fadein 2s; 
    -moz-animation: fadein 2s;
     -ms-animation: fadein 2s;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-moz-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-ms-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadein {
    from {opacity: 0; }
    to   {opacity: 1; }
}

nav {
    border: 2px solid black;
    border-width: 2px 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 50%;
    text-align: center;
    animation: fadeIn 4s;
    -webkit-animation: fadein 4s; 
    -moz-animation: fadein 4s;
    -ms-animation: fadein 4s;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-moz-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-ms-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to   {opacity: 1;}
}

nav a {
    display: inline-block;
    padding: 10px;
    text-align: center;
    color: goldenrod;
}

main{
    animation: fadeIn 6s;
    -webkit-animation: fadein 6s; 
    -moz-animation: fadein 6s;
    -ms-animation: fadein 6s;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-moz-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-ms-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to   {opacity: 1;}
}

.mainContainer {
    text-align: center;
    color: lightgoldenrodyellow
}

.website-info {
    padding-bottom: 15px;
}

.searchContainer {
    display: block;
}

#searchBox {
    display: inline-block;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.compareContainer {
    padding-bottom: 10px;
}



