:root {
 
  --border-radius: .3rem;
}


body {
    margin: 0;
    background-color: rgb(193, 188, 183);
    width: 100%;
    background: linear-gradient( orange, black);
    color: black;
}

header {
    padding-bottom: 20px;
    padding-top: 5px;
}

h1 {
    text-align: center;
}

nav {
    border: 2px solid black;
    border-width: 2px 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 50%;
    text-align: center;
}

nav a {
    display: inline-block;
    padding: 10px;
    text-align: center;
    color: goldenrod;
}

.mainContainer {
    text-align: center;
    color: lightgoldenrodyellow
}

.searchContainer {
    display: block;
}

#searchBox {
    display: inline-block;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.compareContainer {
    padding-bottom: 10px;
}

.map {
    height: 600px;
}

.btn-back{
   color:white

} 
.list-item {
    margin-bottom: 10px;
   
    /* border-radius:var(--border-radius) ; */
    /* background-color: var(--light-dark); */
    /* color: var(--primary); */
    text-decoration: none;
}